.city {
  display: flex;
  background: #FFFAF1 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 5px;
  opacity: 1;
  min-height: 257px;
  padding: 10px 15px;
  flex-direction: column;

  &Header {
    display: flex;
    justify-content: space-between;
    position: relative;

    h2 {
      text-transform: capitalize;
      text-align: left;
      font: normal normal normal 16px/23px Jost;
      color: #000000;
      opacity: 1;
    }

    div {
      margin-right: 20px;
      margin-top: 10px;
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      p {
        text-align: left;
        font: normal normal normal 13px/19px Jost;
        color: #C5C5C5;
        opacity: 1;
      }
      img {
        width: 30px;
      }
    }

    button {
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 0;
      width: 15px;
      height: 15px;
      background: transparent;
      font-size: 20px;
      color: #C5C5C5;
    }
  }

  .today {
    h3 {
      text-align: left;
      font: normal normal 300 18px/26px Jost;
      color: #000000;
      opacity: 1;
    }
  }

  .chart {
    display: flex;
    canvas{
      margin: auto;
      width: 100%;

    }
  }

  .weather {
    margin-top: auto;
    display: flex;
    justify-content: space-between;

    .main {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 15px;

      .temp {
        display: flex;
        gap: 10px;
        height: 64px;

        h1 {
          text-align: left;
          margin-top: auto;
          font: normal normal normal 64px Jost;
          color: #000000;
          opacity: 1;
        }

        div {
          display: flex;
          gap: 5px;

          button {
            text-align: left;
            height: 50%;
            margin-block: auto;
            font: normal normal normal 22px/32px Jost;
            background: transparent;
            color: #8D8D8D;
            opacity: 1;
            cursor: pointer;

            &:first-of-type {
              padding-right: 5px;
              position: relative;

              &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 1px;
                background: #8D8D8D;
                top: 0;
                right: 0;
              }
            }
          }

          .active {
            color: #000;
          }
        }
      }

      .feelsLike {
        text-align: left;
        font: normal normal normal 19px Jost;
        color: #C5C5C5;

        span {
          font: normal normal 600 19px Jost;
        }
      }
    }

    .statistic {
      display: flex;
      flex-direction: column;
      margin: auto 0 0 auto;
      gap: 5px;
      justify-content: space-between;

      p {
        text-align: right;
        font: normal normal normal 18px Jost;
        color: #000000;

        span {
          color: #FFA25B;
          font-weight: 600;
        }
      }
    }
  }
}