.preloader{
  position: fixed;
  background: white;
  width: 100vw;
  height: 100vh;
  left: 0;
  z-index: 1000;
  display: flex;
  top: 0;
  div{
    margin: auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid black;
    border-bottom-color:transparent;
    animation: 1s infinite linear rotate;
    @keyframes rotate {
      from{
        transform: rotate(0);
      }
      to{
        transform: rotate(360deg);
      }
    }
  }
}