.header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;

  .language {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: right;
    align-items: center;

    select {
      width: 70px;
      border-radius: 0;
      height: 25px;
      cursor: pointer;
      option {
        width: 100%;
        height: 25px;
        cursor: pointer;
      }
    }
  }

  .search {
    display: flex;
    width: 50%;
    max-width: 500px;
    margin-inline: auto;
    justify-content: center;
    gap: 10px;


    input {
      width: 90%;
      max-width: 400px;
      height: 40px;
      background: #FFFFFF 0 0 no-repeat padding-box;
      box-shadow: 0 3px 6px #00000029;
      border-radius: 5px;
      padding: 10px;
      padding-left: 15px;
    }

    button {
      width: 112px;
      cursor: pointer;
      height: 40px;
      color: #FFFFFF;
      background: #459DE9 0 0 no-repeat padding-box;
      box-shadow: 0 3px 6px #00000029;
      border-radius: 5px;
      opacity: 1;
      transition: .3s;
      &:hover{
        background: #50a8f4 0 0 no-repeat padding-box;
      }
    }
    @media (max-width: 1160px) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      max-width: 500px;
    }
  }
  .list{
    position: absolute;
    width: 30%;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 100;
    padding: 10px;
    top: 85%;
    button{
      text-align: left;
      background: transparent;
      width: 100%;
      font: normal normal normal 14px/20px Jost;
      color: #000000;
      height: 40px;
      padding-left: 5px;
      transition: background-color .3s;
      opacity: 1;
      cursor: pointer;
      &:hover{
        background: #F2F2F2;
        opacity: 1;
      }
    }
    @media (max-width: 1160px) {
      width: 100%;

    }
    @media (max-width: 1160px) {
      transform: translateX(-45%);
    }
  }
}