@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.img{

  position: fixed;
  right: 20px;
  cursor: pointer;
  bottom: 20px;
  & img{
    width: 100px;
  }
}